
<div id="plant-detail-modal" class="modal" draggable="true">
    <span class="close">&times;</span>
    <div class="modal-content-flex">
        <div id="plant-detail-pict-container"></div>
        <div id="plant-detail-data" style="width: 250px; height: 400px; padding: 8px; font-size: 9px;">
            <h3>Plant Data</h3>
            <p>Id:</p>
            <p>Lot-Sublot:</p>
            <p>Commodity Type:</p>
            <p>Seed Type:</p>
            <p>Wet Date</p>
            <p>Measure Date:</p>
            <h3>Metrics <button id="plant-detail-metrics-button" class="plant-button">Show History</button></h3>
            <p>Size:</p>
            <p>Health Index:</p>
            <p>Irregular spacing:</p>
            <h3>Environment <button id="plant-detail-environ-button" class="plant-button">Show History</button></h3>
            <p>Soil Moisture Content:</p>
            <p>Infestation:</p>
            <p>Disease:</p>
            <p>Chemical Applications:</p>
        </div>
    </div>
</div>