<div #map id="map"></div>

<div id="sidebar">

    <div class="selected-data-display-section">
        <span id="selected-cid">{{form.controls.cid.value}}</span>
        <span id="selected-days">{{form.controls.days.value}} days</span>
    </div>

    <form [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Select Cultivator</mat-label>
            <mat-select formControlName="cid">
                <mat-option value="all">All</mat-option>
                <mat-option *ngFor="let cid of cids; let i=index" value={{cid}}>
                    <ng-container *ngIf="cultivator_status[i] == 'Active'">
                        <mat-icon class="active-icon">stop</mat-icon><span style="display: inline-block; margin-left: -12px;">{{cid}}</span>
                    </ng-container>
                    <ng-container *ngIf="cultivator_status[i] != 'Active'">
                        <mat-icon class="inactive-icon">stop</mat-icon><span style="display: inline-block; margin-left: -12px;">{{cid}}</span>
                    </ng-container>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br><br>
        <mat-form-field appearance="fill">
            <mat-label>Select Tracking Duration</mat-label>
            <mat-select formControlName="days">
                <mat-option value="3">Default (3 days)</mat-option>
                <mat-option *ngFor="let n of int_seq" value={{n}}>{{n}} days</mat-option>
            </mat-select>
        </mat-form-field>
        <br><br>
        <mat-form-field appearance="fill">
            <mat-label>Select Specific Date</mat-label>
            <mat-select formControlName="date">
                <mat-option value="full">Full Duration</mat-option>
                <mat-option *ngFor="let d of date_seq" value={{d}}>{{d.slice(0,7)}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <div class="analytics-dialog-buttons-group">
        <button mat-flat-button color="primary" 
                matTooltip="To show speed and other hourly performance measures for the selected date." 
                matTooltipClass="tooltip" 
                (click)="openHourlyAnalyticsDialog(form.controls.cid.value, form.controls.date.value)">Analytics: Hourly Data</button>
        <button mat-flat-button color="primary" 
                matTooltip="To show daily performance measures for the selected number of days." 
                matTooltipClass="tooltip" 
                (click)="openDailyAnalyticsDialog(form.controls.cid.value, form.controls.days.value)">Analytics: Daily Data</button>
    </div>

</div>
